{% extends "index.html" %}

{% block title %}
    Your Tax Report
{% endblock %}

{% block main %}

  <h2>All Reports</h2>
                <table class="table">
                    <thead>
                        <tr>
                            <th>Personal</th>
                            <th>Sole trader</th>
                            <th>Business</th>
                            <th>Total tax</th>
                        </tr>
                    </thead>
                    <tbody>
                        <!-- TODO: Loop through the database entries to display them in this table -->

                        {% for allreport in allreports %}
                        <tr>
                             <td>$ {{ allreport.personal_income }} </td>
                              <td> $ {{ allreport.sole_income}} </td>
                              <td> $ {{ allreport.business_income}} </td>
                              <td> <span style="color:orange">$ {{ allreport.total}}</span> </td>
                        </tr>

                        {% endfor %}
                    </tbody>
                </table>
{% endblock %}